html{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cont_calculadoras{
    display: flex;
    justify-content: space-around;
}

.cont_calculadoras #specific_height{
    height: 380px;
}

.cuadrado_section{
    margin-bottom: 20px;
    background: linear-gradient(207.8deg, rgb(77, 76, 76), rgb(195, 19, 136) 80%);;
    display: flex;
    flex-direction: column;
    width: 300px;
    border: solid purple;
    border-radius: 10px;
    padding: 20px 10px;
    
}
section .main_cuadrado_section{
    margin-bottom: 20px;
    height: 50px;
    border-bottom: solid rgb(86, 2, 86) 1px;
    margin-left: 10px;
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: center;
}
section .main_cuadrado_section img{
    width: 20px;
}
form{
    display: flex;
    flex-direction: column;
}
form input{
    color: white;
    background-color: rgb(70, 70, 70);
    border: solid black 1px;
    border-radius: 5px;
}
form button{
    margin: 0 auto;
    padding: 5px 2px;
    width: 70%;
    border-style: none;
    color: white;
    background-color: rgb(36, 35, 35);
    border-radius: 5px;
    margin-top: 15px;
}
form button:hover{
    background-color: rgb(169, 95, 144);
}
.triangulo_section{
    margin-bottom: 20px;
    background: linear-gradient(207.8deg, rgb(77, 76, 76), rgb(232, 190, 53) 80%);;
    display: flex;
    flex-direction: column;
    width: 300px;
    border: solid orange;
    border-radius: 10px;
    padding: 20px 10px;
}
.triangulo_section form button:hover{
    background-color: rgb(187, 117, 26);
}

.circulo_section{
    background: linear-gradient(207.8deg, rgb(77, 76, 76), rgb(124, 21, 235) 80%);;
    display: flex;
    flex-direction: column;
    width: 300px;
    border: solid blue;
    border-radius: 10px;
    padding: 20px 10px;
}
.circulo_section form button:hover{
    background-color: rgb(71, 13, 134);
}

@media (max-width:1000px) {
    .cont_calculadoras{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        place-items: center;
    }

}

@media (max-width:680px) {
    .cont_calculadoras{
        display: grid;
        grid-template-columns: 1fr;
    }  
}